<header class="top-menu">
  <button
    type="button"
    class="menu-button"
    [class.active]="view === 'play'"
    (click)="setView('play')"
  >
    Jugar
  </button>
    <button
    type="button"
    class="menu-button"
    [class.active]="view === 'configure'"
    (click)="setView('configure')"
  >
    Salas
  </button>
  <button
    type="button"
    class="menu-button"
    [class.active]="view === 'history'"
    (click)="setView('history')"
  >
    Historial
  </button>
  <button
    type="button"
    class="menu-button"
    [class.active]="view === 'about'"
    (click)="setView('about')"
  >
    Acerca de
  </button>
</header>

<main class="app-view">
  <app-game-room *ngIf="view === 'play'"></app-game-room>
  <app-history *ngIf="view === 'history'"></app-history>
  <app-configure *ngIf="view === 'configure'"></app-configure>
  <app-about *ngIf="view === 'about'"></app-about>
</main>
