<section class="configure-card" *ngIf="!connected">
    <h2>Conectarme a una Sala</h2>

    <div class="form-group">
        <label for="nickname">Nick</label>
        <input id="nickname" name="nickname" type="text" [(ngModel)]="nickname"
            (ngModelChange)="onNicknameChange($event)" placeholder="Ej: leon84ych" />
    </div>

    <div class="form-group">
        <label for="room">Sala</label>
        <input id="room" name="room" type="text" [(ngModel)]="room" (ngModelChange)="onRoomChange($event)"
            placeholder="Ej: MATCH10" />
    </div>

    <div class="actions-row">
        <button type="button" class="btn-action save" (click)="saveSession()">
            Guardar y conectar
        </button>
    </div>

    <p class="status-text" [class.error]="connectionStatus.status === 'error'"
        [class.success]="connectionStatus.status === 'connected'"
        [class.connecting]="connectionStatus.status === 'connecting'">
        {{ statusMessage }}
    </p>
</section>
<section class="configure-card" *ngIf="connected">
    <h2>¡Estás dentro de la sala {{ room }}!</h2>
    <p>Jugando como: <strong>{{ nickname }}</strong></p>
    <button class="btn-danger" (click)="leaveRoom()">Salir de la Sala</button>
    <p class="status-alert">{{ statusMessage }}</p>
</section>